In [12]:
import pandas as pd
import os
os.getcwd()

'/home/jia/Desktop/git/STB_social_media_analytics/experimentation/jiaxin_experiment'

In [13]:
raw=pd.read_csv('./aggregate_list/ctrip_list.csv')
new=pd.read_csv('./aggregate_list/20200213_TB_SOCIAL_CTRIP_CRAWL_LIST.csv')
raw=raw.drop_duplicates(subset=['POI','link'])
new=new.drop_duplicates()

In [14]:
raw.head()

,INDEX,POI,link,num_reviews
0,0,新加坡环球影城,/sight/sentosa776/75830.html,\n (16364条点评)
1,1,新加坡滨海湾花园,/sight/singapore53/132782.html,\n (6378条点评)
2,2,圣淘沙岛,/sight/singapore53/47929.html,\n (3992条点评)
3,3,乌节路,/sight/singapore53/108118.html,\n (2103条点评)
4,4,克拉码头,/sight/singapore53/3654.html,\n (2461条点评)

In [15]:
raw.describe()

             INDEX
count  1506.000000
mean    802.345286
std     484.319878
min       0.000000
25%     377.250000
50%     792.500000
75%    1221.750000
max    1665.000000

In [16]:
new.head()

,POI_INDEX,WEBSITE_INDEX,POI_NAME,URL,POI_GOOGLE_TRANSLATE_ENGLISH_NAME,POI_CHINESE_NAME,ENG_NAME_SPACE
0,1,2,Universal Studios Singapore,/sight/sentosa776/75830.html,Universal Studios Singapore,新加坡环球影城,NaN
1,2,2,Singapore Gardens by,/sight/singapore53/132782.html,Singapore Gardens by,新加坡滨海湾花园,NaN
2,3,2,Sentosa Island,/sight/singapore53/47929.html,Sentosa Island,圣淘沙岛,NaN
3,4,2,Orchard Road,/sight/singapore53/108118.html,Orchard Road,乌节路,Orchard Road
4,5,2,Clarke Quay,/sight/singapore53/3654.html,Clarke Quay,克拉码头,NaN

In [17]:
new.describe()

        POI_INDEX  WEBSITE_INDEX
count  517.000000          517.0
mean   259.280464            2.0
std    149.739453            0.0
min      1.000000            2.0
25%    130.000000            2.0
50%    259.000000            2.0
75%    389.000000            2.0
max    518.000000            2.0

In [18]:
left=pd.merge(new,raw,"left",left_on=['URL','POI_CHINESE_NAME'],right_on=['link','POI'])

In [19]:
left.describe()

        POI_INDEX  WEBSITE_INDEX       INDEX
count  517.000000          517.0  508.000000
mean   259.280464            2.0  259.348425
std    149.739453            0.0  153.692804
min      1.000000            2.0    0.000000
25%    130.000000            2.0  126.750000
50%    259.000000            2.0  254.500000
75%    389.000000            2.0  391.250000
max    518.000000            2.0  534.000000

In [20]:
left.head()

,POI_INDEX,WEBSITE_INDEX,POI_NAME,URL,POI_GOOGLE_TRANSLATE_ENGLISH_NAME,POI_CHINESE_NAME,ENG_NAME_SPACE,INDEX,POI,link,num_reviews
0,1,2,Universal Studios Singapore,/sight/sentosa776/75830.html,Universal Studios Singapore,新加坡环球影城,NaN,0.0,新加坡环球影城,/sight/sentosa776/75830.html,\n (16364条点评)
1,2,2,Singapore Gardens by,/sight/singapore53/132782.html,Singapore Gardens by,新加坡滨海湾花园,NaN,1.0,新加坡滨海湾花园,/sight/singapore53/132782.html,\n (6378条点评)
2,3,2,Sentosa Island,/sight/singapore53/47929.html,Sentosa Island,圣淘沙岛,NaN,2.0,圣淘沙岛,/sight/singapore53/47929.html,\n (3992条点评)
3,4,2,Orchard Road,/sight/singapore53/108118.html,Orchard Road,乌节路,Orchard Road,3.0,乌节路,/sight/singapore53/108118.html,\n (2103条点评)
4,5,2,Clarke Quay,/sight/singapore53/3654.html,Clarke Quay,克拉码头,NaN,4.0,克拉码头,/sight/singapore53/3654.html,\n (2461条点评)

In [21]:
left.insert(11,'IS_PRIORITIZED',1)

In [11]:
left.loc[left.INDEX < 96.0, 'IS_PRIORITIZED'] = 0

In [22]:
left=left.drop([left.columns[7],left.columns[8],left.columns[9],left.columns[10]],axis="columns")

In [23]:
left.head()

,POI_INDEX,WEBSITE_INDEX,POI_NAME,URL,POI_GOOGLE_TRANSLATE_ENGLISH_NAME,POI_CHINESE_NAME,ENG_NAME_SPACE,IS_PRIORITIZED
0,1,2,Universal Studios Singapore,/sight/sentosa776/75830.html,Universal Studios Singapore,新加坡环球影城,NaN,1
1,2,2,Singapore Gardens by,/sight/singapore53/132782.html,Singapore Gardens by,新加坡滨海湾花园,NaN,1
2,3,2,Sentosa Island,/sight/singapore53/47929.html,Sentosa Island,圣淘沙岛,NaN,1
3,4,2,Orchard Road,/sight/singapore53/108118.html,Orchard Road,乌节路,Orchard Road,1
4,5,2,Clarke Quay,/sight/singapore53/3654.html,Clarke Quay,克拉码头,NaN,1

In [25]:
left.to_csv('./ctrip/0216_prio_list.csv')

In [14]:
left=left[left['IS_PRIORITIZED']==1]

In [15]:
left.head()

,POI_INDEX,WEBSITE_INDEX,POI_NAME,URL,POI_GOOGLE_TRANSLATE_ENGLISH_NAME,POI_CHINESE_NAME,ENG_NAME_SPACE,INDEX,POI,link,num_reviews,IS_PRIORITIZED
96,97,2,Wing Chun Boxing Martial Arts Workshop,/sight/singapore53/2482476.html,Wing Chun Boxing Martial Arts Workshop,咏春拳武术工作坊课程,NaN,96.0,咏春拳武术工作坊课程,/sight/singapore53/2482476.html,\n (1条点评),1
97,98,2,Fountainof Wealth,/sight/singapore53/132965.html,Fountain of Wealth,财富喷泉,Fountainof Wealth,97.0,财富喷泉,/sight/singapore53/132965.html,\n (114条点评),1
98,99,2,Cavenagh Bridge,/sight/singapore53/30008.html,Gavenna Bridge,加文纳桥,Cavenagh Bridge,98.0,加文纳桥,/sight/singapore53/30008.html,\n (133条点评),1
99,100,2,The Slide T,/sight/singapore53/1681438.html,Changi Airport Slide @ T3,樟宜机场溜滑梯@T3,The Slide T,99.0,樟宜机场溜滑梯@T3,/sight/singapore53/1681438.html,\n (84条点评),1
100,101,2,Mint Museumof Toys,/sight/singapore53/132422.html,MINT Toy Museum,MINT玩具博物馆,Mint Museumof Toys,100.0,MINT玩具博物馆,/sight/singapore53/132422.html,\n (174条点评),1