In [27]:
import pandas as pd
origin=pd.read_csv('./vocab.csv')

In [28]:
euclidean=pd.read_csv('./euclidean_distance.csv')

df=pd.merge(left=origin, right=euclidean, "left")

In [29]:
df_euc=origin.merge(right=euclidean, how="inner",on=['CAT_NAME','KEYWORD'])

In [30]:
df_euc

,KEYWORD,COUNT,SENTIMENT_KEYWORD_AGG_INDEX,CAT_NAME,ASPECT_CATEGORY,REQUIRE_CONTEXT,CAT_INDEX
0,地方,4424,2,Sightseeing/Place,NaN,NaN,10
1,孩子,3456,3,Family/Childre family/Friends,NaN,NaN,6
2,景点,2498,7,Sightseeing/Place,NaN,NaN,10
3,动物,2125,8,Sightseeing/Place,NaN,NaN,10
4,项目,2024,9,Sightseeing/Place,NaN,NaN,10
...,...,...,...,...,...,...,...
117,大商场,64,795,Shopping,NaN,NaN,9
118,大桥,63,815,Environment and Ambience,NaN,NaN,3
119,蓝天白云,62,833,Environment and Ambience,NaN,NaN,3
120,绿树成荫,61,847,Environment and Ambience,NaN,NaN,3
121,免税店,57,892,Shopping,NaN,NaN,9

In [32]:
manhattan=pd.read_csv('./manhattan_distance.csv')
df_man=origin.merge(right=manhattan, how="inner",on=['CAT_NAME','KEYWORD'])
df_man

,KEYWORD,COUNT,SENTIMENT_KEYWORD_AGG_INDEX,CAT_NAME,ASPECT_CATEGORY,REQUIRE_CONTEXT,CAT_INDEX
0,地方,4424,2,Sightseeing/Place,NaN,NaN,10
1,孩子,3456,3,Family/Childre family/Friends,NaN,NaN,6
2,景点,2498,7,Sightseeing/Place,NaN,NaN,10
3,动物,2125,8,Sightseeing/Place,NaN,NaN,10
4,项目,2024,9,Sightseeing/Place,NaN,NaN,10
...,...,...,...,...,...,...,...
113,大商场,64,795,Shopping,NaN,NaN,9
114,大桥,63,815,Environment and Ambience,NaN,NaN,3
115,蓝天白云,62,833,Environment and Ambience,NaN,NaN,3
116,绿树成荫,61,847,Environment and Ambience,NaN,NaN,3
117,免税店,57,892,Shopping,NaN,NaN,9

In [33]:
cosine=pd.read_csv('./cosine_similarity.csv')
df_cos=origin.merge(right=cosine, how="inner",on=['CAT_NAME','KEYWORD'])
df_cos

,KEYWORD,COUNT,SENTIMENT_KEYWORD_AGG_INDEX,CAT_NAME,ASPECT_CATEGORY,REQUIRE_CONTEXT,CAT_INDEX
0,地方,4424,2,Sightseeing/Place,NaN,NaN,10
1,孩子,3456,3,Family/Childre family/Friends,NaN,NaN,6
2,景点,2498,7,Sightseeing/Place,NaN,NaN,10
3,动物,2125,8,Sightseeing/Place,NaN,NaN,10
4,项目,2024,9,Sightseeing/Place,NaN,NaN,10
...,...,...,...,...,...,...,...
117,大商场,64,795,Shopping,NaN,NaN,9
118,大桥,63,815,Environment and Ambience,NaN,NaN,3
119,蓝天白云,62,833,Environment and Ambience,NaN,NaN,3
120,绿树成荫,61,847,Environment and Ambience,NaN,NaN,3
121,免税店,57,892,Shopping,NaN,NaN,9

In [34]:
cor=pd.read_csv('./correlation.csv')
df_cor=origin.merge(right=cor, how="inner",on=['CAT_NAME','KEYWORD'])
df_cor

,KEYWORD,COUNT,SENTIMENT_KEYWORD_AGG_INDEX,CAT_NAME,ASPECT_CATEGORY,REQUIRE_CONTEXT,CAT_INDEX
0,空中花园,161,310,Sightseeing/Place,NaN,NaN,10
1,圣安德烈教堂,136,367,Sightseeing/Place,NaN,NaN,10
2,座桥,101,479,Sightseeing/Place,NaN,NaN,10
3,地面,64,793,Environment and Ambience,NaN,NaN,3
4,风景优美,58,889,Sightseeing/Place,NaN,NaN,10