In [50]:
import pandas as pd
import os
os.getcwd()

'/home/jia/Desktop/git/STB_social_media_analytics/experimentation/jiaxin_experiment'

In [51]:
raw=pd.read_csv('./aggregate_list/ctrip_list.csv')
new=pd.read_csv('./aggregate_list/20200213_TB_SOCIAL_CTRIP_CRAWL_LIST.csv')
raw=raw.drop_duplicates(subset=['POI','link'])
new=new.drop_duplicates()

In [52]:
raw.head()

,INDEX,POI,link,num_reviews
0,0,新加坡环球影城,/sight/sentosa776/75830.html,\n (16364条点评)
1,1,新加坡滨海湾花园,/sight/singapore53/132782.html,\n (6378条点评)
2,2,圣淘沙岛,/sight/singapore53/47929.html,\n (3992条点评)
3,3,乌节路,/sight/singapore53/108118.html,\n (2103条点评)
4,4,克拉码头,/sight/singapore53/3654.html,\n (2461条点评)

In [53]:
raw.describe()

             INDEX
count  1506.000000
mean    802.345286
std     484.319878
min       0.000000
25%     377.250000
50%     792.500000
75%    1221.750000
max    1665.000000

In [54]:
new.head()

,POI_INDEX,WEBSITE_INDEX,POI_NAME,URL,POI_GOOGLE_TRANSLATE_ENGLISH_NAME,POI_CHINESE_NAME,ENG_NAME_SPACE
0,1,2,Universal Studios Singapore,/sight/sentosa776/75830.html,Universal Studios Singapore,新加坡环球影城,NaN
1,2,2,Singapore Gardens by,/sight/singapore53/132782.html,Singapore Gardens by,新加坡滨海湾花园,NaN
2,3,2,Sentosa Island,/sight/singapore53/47929.html,Sentosa Island,圣淘沙岛,NaN
3,4,2,Orchard Road,/sight/singapore53/108118.html,Orchard Road,乌节路,Orchard Road
4,5,2,Clarke Quay,/sight/singapore53/3654.html,Clarke Quay,克拉码头,NaN

In [55]:
new.describe()

        POI_INDEX  WEBSITE_INDEX
count  517.000000          517.0
mean   259.280464            2.0
std    149.739453            0.0
min      1.000000            2.0
25%    130.000000            2.0
50%    259.000000            2.0
75%    389.000000            2.0
max    518.000000            2.0

In [56]:
left=pd.merge(new,raw,"left",left_on=['URL','POI_CHINESE_NAME'],right_on=['link','POI'])

In [57]:
left.describe()

        POI_INDEX  WEBSITE_INDEX       INDEX
count  517.000000          517.0  508.000000
mean   259.280464            2.0  259.348425
std    149.739453            0.0  153.692804
min      1.000000            2.0    0.000000
25%    130.000000            2.0  126.750000
50%    259.000000            2.0  254.500000
75%    389.000000            2.0  391.250000
max    518.000000            2.0  534.000000

In [58]:
left.head()

,POI_INDEX,WEBSITE_INDEX,POI_NAME,URL,POI_GOOGLE_TRANSLATE_ENGLISH_NAME,POI_CHINESE_NAME,ENG_NAME_SPACE,INDEX,POI,link,num_reviews
0,1,2,Universal Studios Singapore,/sight/sentosa776/75830.html,Universal Studios Singapore,新加坡环球影城,NaN,0.0,新加坡环球影城,/sight/sentosa776/75830.html,\n (16364条点评)
1,2,2,Singapore Gardens by,/sight/singapore53/132782.html,Singapore Gardens by,新加坡滨海湾花园,NaN,1.0,新加坡滨海湾花园,/sight/singapore53/132782.html,\n (6378条点评)
2,3,2,Sentosa Island,/sight/singapore53/47929.html,Sentosa Island,圣淘沙岛,NaN,2.0,圣淘沙岛,/sight/singapore53/47929.html,\n (3992条点评)
3,4,2,Orchard Road,/sight/singapore53/108118.html,Orchard Road,乌节路,Orchard Road,3.0,乌节路,/sight/singapore53/108118.html,\n (2103条点评)
4,5,2,Clarke Quay,/sight/singapore53/3654.html,Clarke Quay,克拉码头,NaN,4.0,克拉码头,/sight/singapore53/3654.html,\n (2461条点评)

In [59]:
left.insert(11,'IS_PRIORITIZED',1)

In [60]:
left.loc[left.INDEX < 96.0, 'IS_PRIORITIZED'] = 0

In [63]:
left.drop([left.columns[7],left.columns[8],left.columns[9],left.columns[10]],axis="columns")

,POI_INDEX,WEBSITE_INDEX,POI_NAME,URL,POI_GOOGLE_TRANSLATE_ENGLISH_NAME,POI_CHINESE_NAME,ENG_NAME_SPACE,IS_PRIORITIZED
0,1,2,Universal Studios Singapore,/sight/sentosa776/75830.html,Universal Studios Singapore,新加坡环球影城,NaN,0
1,2,2,Singapore Gardens by,/sight/singapore53/132782.html,Singapore Gardens by,新加坡滨海湾花园,NaN,0
2,3,2,Sentosa Island,/sight/singapore53/47929.html,Sentosa Island,圣淘沙岛,NaN,0
3,4,2,Orchard Road,/sight/singapore53/108118.html,Orchard Road,乌节路,Orchard Road,0
4,5,2,Clarke Quay,/sight/singapore53/3654.html,Clarke Quay,克拉码头,NaN,0
...,...,...,...,...,...,...,...,...
512,514,2,Singapore Chinese Orchestra,/sight/singapore53/4803984.html,Singapore Chinese Orchestra,Singapore Chinese Orchestra,Singapore Chinese Orchestra,1
513,515,2,Beauty Empire,/sight/singapore53/4823360.html,Beauty Empire,Beauty Empire,Beauty Empire,1
514,516,2,Renaza Hair Nail Spa,/sight/singapore53/4778313.html,Renaza Hair & Nail Spa,Renaza Hair & Nail Spa,Renaza Hair Nail Spa,1
515,517,2,Admiralty Park,/sight/singapore53/4919565.html,Admiralty Park,Admiralty Park,Admiralty Park,1
516,518,2,Singapore City Bike Tour,/sight/singapore53/71564484.html,Singapore City Bike Tour,Singapore City Bike Tour,Singapore City Bike Tour,1

In [64]:
left.head()

,POI_INDEX,WEBSITE_INDEX,POI_NAME,URL,POI_GOOGLE_TRANSLATE_ENGLISH_NAME,POI_CHINESE_NAME,ENG_NAME_SPACE,INDEX,POI,link,num_reviews,IS_PRIORITIZED
0,1,2,Universal Studios Singapore,/sight/sentosa776/75830.html,Universal Studios Singapore,新加坡环球影城,NaN,0.0,新加坡环球影城,/sight/sentosa776/75830.html,\n (16364条点评),0
1,2,2,Singapore Gardens by,/sight/singapore53/132782.html,Singapore Gardens by,新加坡滨海湾花园,NaN,1.0,新加坡滨海湾花园,/sight/singapore53/132782.html,\n (6378条点评),0
2,3,2,Sentosa Island,/sight/singapore53/47929.html,Sentosa Island,圣淘沙岛,NaN,2.0,圣淘沙岛,/sight/singapore53/47929.html,\n (3992条点评),0
3,4,2,Orchard Road,/sight/singapore53/108118.html,Orchard Road,乌节路,Orchard Road,3.0,乌节路,/sight/singapore53/108118.html,\n (2103条点评),0
4,5,2,Clarke Quay,/sight/singapore53/3654.html,Clarke Quay,克拉码头,NaN,4.0,克拉码头,/sight/singapore53/3654.html,\n (2461条点评),0

In [66]:
left.to_csv('./aggregate_list/0214_prio_list.csv')